@media (max-width: 1200px) {
    .block {
        width: 48%;
    }
    .s2-container {
        height: 100%;
        padding-bottom: 50px;
    }
    .block:nth-child(1),
    .block:nth-child(2) {
        margin-bottom: 30px;
    }
    .section3 {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .right-div img {
        width: 100%;
    }
    .section1 {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .right-block {
        margin-top: 60px;
    }
}
    

@media (max-width: 1000px) {
    .burger {
        margin-top: 30px;
        display: block;
        color: #FFF;
    }
    .nav-ul {
        display: none;
    }
}
@media (max-width: 768px) {
    .block {
        width: 100%;
    }
    .setction2 {
        height: 100%;
    }
    .triple-image {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .triple-image img {
        width: 70%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .triple-image img:nth-child(2) {
        margin: 20px 0;
    }
    .f-block {
        width: 48%;
    }
    .f-block:nth-child(1),
    .f-block:nth-child(2) {
        margin-bottom: 40px;
    }
    .f-top-block,
    .general-form {
        flex-direction: column;
    }

}
@media (max-width: 480px) {
    .f-block {
        width: 80%;
    }
    .f-block:nth-child(4) {
        margin-top: 40px;
    }
    .f-container {
        text-align: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .footer p {
        text-align: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-left: 0;
    }
}
